
body,html{
	width: 100%;
	height: 100%;
}
#top1_wrap{
	width: 100%;
	height: 33px;
	background: #f6f6f6;
	z-index: 1000; 
}
.top_t{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 2px;
	border-bottom: 1px solid #e7e7e7;
	color: #333333;
	line-height: 30px;
	position: relative;
}
.tList1{
	float: left;
}
.tList1 li,.tList2 li{
	float: left;
	margin-right: 10px;
}
.tList1 li a,.tList2 li a,.tList1 li span,.tList2 li span{
	display: inline-block;
	padding: 5px;
	line-height: 18px;
	position: relative;
}
.tList2{
	float: right;
}
.tList1 li a span{
	background-color: #CCCCCC;
    display: inline-block;
    height: 12px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px;
    padding: 0;
}
.tList1 .spe{
	margin-right: 0;
}
.spe2{
	display: inline-block;
	padding:0px 21px 0px 10px;
	width: 14px;
	height: 16px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/header-ico.png) no-repeat 0 -83px;
}
.spe3{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat -135px -21px;
	left: 27px;
	top: 10px;
	position: absolute;
}
.tList2 .spe4{
	font-size: 14px;
    color: #FF0000;
    font-family: '微软雅黑';
    font-weight: bold;
    display: inline-block;
}
.tList3{
	position: absolute;
	left: 330px;
	top: 30px;
	border: 1px solid #cccccc;
	display: none;
	background: white;
	z-index: 10;
}
.tList3 li:nth-child(1){
	background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    padding: 6px 8px;
    line-height: 18px;
}
.tList3 li{
	padding: 8px;
    line-height: 20px;
    border-bottom: 1px dashed #EEE;
}
.tList3 li:last-child{
    border-bottom: 0;
}
.tList3 li span{
	color: #CC0000;
}

/*top_m*/
#top2_wrap{
	width: 100%;
	height: 90px;
}
.top_m{
	width: 1200px;
	height: 90px;
	margin:0 auto;
}
.t_logo{
	width: 460px;
	height: 70px;
	margin-top: 8px;
	margin-right: 40px;
	float: left;
}
.t_search{
	margin-top: 24px;
	float: left;
	width: 420px;
	height: 40px;
	position: relative;
}
.t_search input:nth-child(1){
	border: 1px solid #dbdbdb;
    border-right: 0 none;
    background: #ffffff;
    color: #BBBBBB;
    float: left;
    height: 38px;
    line-height: 38px;
    text-indent: 10px;
    width: 315px;
    padding: 0;
}
.t_search input:nth-child(2){
    float: left;
    height: 40px;
    line-height: 40px;
    width: 100px;
    background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat 0 -191px;
    border: none;
    cursor: pointer;
}
.tList4{
	position: absolute;
	width: 432px;
	height: 38px;
	border: 1px solid #ED631A;
	top: 38px;
	background: white;
	display: none;
}
.tList4 li{
	float: left;
	line-height: 32px;
}
.tList4 li:nth-child(1){
	color: #999999;
	margin-left: 16px;
	margin-right: 5px;
}
.tList4 li a{
	float: left;
	margin-right: 16px;
	color: #666666;
}
.t_cart{
	border: 1px solid #EFEFEF;
    margin-top: 24px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    text-align: center;
    width: 213px;
    position: relative;
    background: #F7F7F7;
    float: right;
    cursor: pointer;
    position: relative;
}
.t_cart h3{
    padding-left: 40px;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: normal;
    background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat -105px -181px #F7F7F7;
}
.t_cart h3 a{
	display: block;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat 101px -240px;
}
.t_cart h3 a span{
	padding: 0 2px;
    color: #D70000;
    font-weight: bold;
}
.t_cart .aper{
	background-color: #FFFFFF;
    border: 1px solid #CECECE;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 38px;
    width: 318px;
    z-index: 10;
    display: none;
}
.t_cart .aper p{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat -51px -81px transparent;
    height: 42px;
    margin: 25px 0 25px 40px;
    padding-left: 50px; 
	line-height: 20px;
}
.t_cart .aper p a{
	color: #B2002E; 
}
/*top_b*/
#top3_wrap{
	height: 45px;
    background: #cc0001;
    position: relative;
}
.top_b{
	width: 1200px;
	height: 45px;
	margin: 0 auto;
}
.top_all{
	background-color: #e73300;
    color: #FFFFFF;
    float: left;
    height: 38px;
    left: 0;
    padding-top: 7px;
    position: relative;
    width: 220px;
}
.top_all a{
	color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    padding: 3px 0 0 24px;
}
.top_all a:hover{
	color: white;
}
.top_all i{
	display: inline-block;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat -139px -61px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: all 0.5s ease 0s;
}
.active{
	background: #b00000;
}
.tList5{
	float: left;
}
.tList5 li{
	float: left;
}
.tList5 li a{
	float: left;
	color: #fff;
    padding: 0 20px;
    display: block;
    line-height: 45px;
    height: 45px;
    font-size: 15px;
    font-family: "微软雅黑";
}
.t_nav{
	position: absolute;
	left: 0;
	top: 45px;
	width: 220px;
	font-family: "微软雅黑";
	background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    border-top: 0;
    z-index: 10;
}
.t_nav>ul{
/*	display: none;
*/}
.t_nav>ul>li{
	padding: 10px 0 10px 50px;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #fff;
    font-size: 0;
    height: 48px; 
}
.t_nav>ul>li:nth-child(1){
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px 8px;
}
.t_nav>ul>li:nth-child(2){
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px -62px;
}
.t_nav>ul>li:nth-child(3){
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px -131px;
}
.t_nav>ul>li:nth-child(4){
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px -202px;
}
.t_nav>ul>li:nth-child(5){
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px -274px;
}
.t_nav>ul>li:nth-child(6){ 
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/cat-ico.png) no-repeat 5px -342px;
} 
.t_nav>ul>li>a{
	color: #999999;
	font-size: 12px;
	display: inline-block;
	line-height: 16px;
	padding: 0;
	font-weight: normal;
	height: 16px;
	margin-right: 6px; 
	position: relative;
	top: -13px;
}
.t_nav>ul>li>a:hover{
	color: #999999;
}
.t_nav>ul>li>a:nth-child(1){
	color: #333333;
	font-size: 14px;
	line-height: 19px;
	padding: 0;
	display: block;
	height: 19px;
	position: relative;
	top: 4px;
}
/*dis*/
.dis{
	position: absolute;
	left: 222px;
	top: 0;
	width: 410px;
	height: 425px;
	background: #fff;
	z-index: 100;
	display: none;
}
.dis>h3{
	background-position: right 7px;
    display: inline-block;
    font-size: 16px;
    padding: 20px 22px 0 0;
    text-align: left;
    width: 170px;
    height: 50px;
    text-indent: 2em;
    color: black;
    cursor: pointer;
}
.dis>div>ul{
	float: left;
	padding: 0 10px;
}
.dis>div>ul>li>a{
	color: red;
	font-weight: normal;
}
.dis>div>ul>li>a:hover{
	color: red;
} 


/*main*/
#main_wrap{
	width: 100%;
	height: 5148px;
	padding: 5px 0 10px;	
	margin-top: 5px;

}
#main_wrap .main{
	width: 1200px;
	height: 5148px;
	margin: 0 auto;
}
.main1{
	height: 410px;
	margin-bottom: 15px;
}
/*benner*/
.banner{
	width: 730px;
	height: 310px;
	margin-left: 230px;
	float: left;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.banner .bList1{
	width: 2920px;
	height: 310px;
	position: absolute;
}
.banner .bList1 li{
	width: 730px;
	height: 310px;
	float: left;
}
.bList2{
	width: 70px;
	height: 24px;
	background: rgba(110,110,110,0.3);
	position: absolute;
	right: 10px;
	bottom: 10px; 
	border-radius: 12px;
	line-height: 24px;
	padding-left: 3px;
}
.bList2 li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: 2px;
	float: left;
	margin-right: 3px;
}
.bList2 li.active2{
	background: black;
	color: white;
}
.bList3{
	width: 730px;
    height: 90px;
    background: url(../img/cdn.taomeixie.com/lyecs_style/images/index/index_ser.gif) no-repeat;
    position: absolute;
    left: 261px;
    top: 470px;
   /* border: 1px solid red;*/
}
.bList3 li{
	float: left;
    width: 254px;
    text-align: center;
    margin-top: 55px;
}
.bList3 li:nth-child(2){
	width: 246px;
}
.bList3 li:nth-child(3){
	width: 229px;
}
.red{
	color: #E40000;;
}
.org{
	color: #FF5320;
}
.bList3 li a:hover{
	text-decoration: underline;
}

/*banner右侧*/
.notice{
	float: right;
	width: 230px;
	height: 410pxe;
}
.up{
	width: 230px;
	height: 160px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/index/index_pro.jpg) no-repeat;
}
.down{
	border: 1px solid #DDDDDD;
	margin-top: 10px;
}
.d_up{
	height: 32px;
}
.d_up a{
	background:#F6F6F6;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    color: #686765;
    display: inline-block;
    font-family: 微软雅黑;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    position: relative;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 113px;
}
.d_up .active3{
	background: #FFFFFF;
    border-bottom:none;
    border-top: 2px solid #CD2F2E;
    color: #333333;
    font-weight: bold;
    height: 31px;
    margin-top: -1px;
}
.d_down{
	background: #ffffff;
	height: 206px;
	overflow: hidden;
	position: relative;
}
.d_down .new{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.d_down ul{
	padding: 12px 20px;
}
.d_down ul li{
	height: 26px;
    line-height: 26px;
    overflow: hidden;
} 
.d_down .advice{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

/*main2*/
.main2{
	height: 1322px;
	margin-bottom: 20px;
}
.m2_t{
	height: 60px;
	margin-bottom: 5px;
}
.m2_m{
	height: 50px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #e73300;
}
.m2_m h2{
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 260px;
	height: 50px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/floor_tit.gif) no-repeat;
}
.m2_m ul{
	float: left;
}
.m2_m ul  a{
	text-align: center;
    line-height: 50px;
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 120px;
    height: 50px;
}
.m2_m ul a.active4{ 
	background: #f4f4f4;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.more{
	float: right;
	padding-top:14px;
	margin-right: 10px;  
}
.m2_b{
	background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-top: 0;
    height: 1204px;
}
.m2_b ul li{
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    float: left;
    height: 280px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 218px; 
    font-family: "微软雅黑";
}
.m2_b ul li:nth-child(5n){
	border-right: 0; 
}
.m2_b ul li.hover{
	background: #fff6f5;
	border: 2px solid #E73300;
	padding: 8px 9px 9px 8px;      
} 
.m2_b ul li img{
	width: 220px;
	height: 220px;
	margin-bottom: 10px;
	cursor: pointer;
}
.m2_b ul li .hidden span{
	background: #E73300;
    color: #FFFFFF;
    display: none;
    height: 22px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 208px;
    width: 105px;
}
.m2_b ul li .hidden span a{
	color: white;
	cursor: pointer;
}
.m2_b ul li .hidden .send{
	color: #FFFFFF;
    display: none;
    height: 22px;
    line-height: 22px;
    text-align: center;
    top: 208px;
    width: 105px; 
    position: absolute;
    right: 8px;
    background: #E73300; 
}
.m2_b ul li .name{
	height: 25px;
	line-height: 25px;
	margin-top: 5px; 
}
.m2_b ul li .name a{
	float: left;
}
.m2_b ul li .name span{
	float: right;
	color: #CE0B16;
	font: 12px arial;  
}
.m2_b ul li .name span b{
	font: 18px arial; 
	margin-left: 3px;
}
.m2_b ul li .num{
	height: 18px;
	line-height: 18px;
}
.m2_b ul li .num span:nth-child(1){
	float: left;
	color: #999999;
}
.m2_b ul li .num span:nth-child(2){
	float: left;
	color: #666666;
}
.m2_b ul li .num span:nth-child(3){
	float: right; 
	color: #999999;
}

/*m3部分*/
.main3{
	height: 354px;
	margin-bottom: 20px; 
}
.m3_t{
	height: 50px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #e73300;
}
.m3_t h2{
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 260px;
	height: 50px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/floor_tit.gif) no-repeat 0 -50px;
} 
.m3_b{
	background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-top: 0;
}
.m3_b ul li{
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    float: left;
    height: 280px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 218px; 
    font-family: "微软雅黑";
}
.m3_b ul li:nth-child(5n){
	border-right: 0; 
}
.m3_b ul li.hover{
	background: #fff6f5;
	border: 2px solid #E73300;
	padding: 8px 9px 9px 8px;     
} 
.m3_b ul li img{
	width: 220px;
	height: 220px;
	margin-bottom: 10px;
	cursor: pointer;
}
.m3_b ul li .hidden span{
	background: #E73300;
    color: #FFFFFF;
    display: none;
    height: 22px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 208px;
    width: 105px;
}
.m3_b ul li .hidden span a{
	color: white;
	cursor: pointer;
}
.m3_b ul li .hidden .send{
	color: #FFFFFF;
    display: none;
    height: 22px;
    line-height: 22px;
    text-align: center;
    top: 208px;
    width: 105px; 
    position: absolute;
    right: 8px;
    background: #E73300; 
}
.m3_b ul li .name{
	height: 25px;
	line-height: 25px;
	margin-top: 5px; 
}
.m3_b ul li .name a{
	float: left;
}
.m3_b ul li .name span{
	float: right;
	color: #CE0B16;
	font: 12px arial;  
}
.m3_b ul li .name span b{
	font: 18px arial; 
	margin-left: 3px;
}
.m3_b ul li .num{
	height: 18px;
	line-height: 18px;
}
.m3_b ul li .num span:nth-child(1){
	float: left;
	color: #999999;
}
.m3_b ul li .num span:nth-child(2){
	float: left;
	color: #666666;
}
.m3_b ul li .num span:nth-child(3){
	float: right; 
	color: #999999; 
}

/*main4部分*/
.main4{
	margin-bottom: 20px;
	height: 1962px; 
}
.m4_t{
	height: 98px;
	margin-bottom: 5px;
}
.m4_m{
	height: 50px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #e73300;
}
.m4_m h2{
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 260px;
	height: 50px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/floor_tit.gif) no-repeat 0 -104px;
}
.m4_b{
	background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-top: 0;
    height: 1806px; 
}
.m4_b ul li{
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    float: left;
    height: 280px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 218px; 
    font-family: "微软雅黑";
}
.m4_b ul li:nth-child(5n){
	border-right: 0; 
}
.m4_b ul li.hover{
	background: #fff6f5;
	border: 2px solid #E73300;
	padding: 8px 9px 9px 8px;      
} 
.m4_b ul li img{
	width: 220px;
	height: 220px;
	margin-bottom: 10px;
	cursor: pointer;
}
.m4_b ul li .hidden span{
	background: #E73300;
    color: #FFFFFF;
    display: none;
    height: 22px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 208px;
    width: 105px;
}
.m4_b ul li .hidden span a{
	color: white;
	cursor: pointer;
}
.m4_b ul li .hidden .send{
	color: #FFFFFF;
    display: none;
    height: 22px;
    line-height: 22px;
    text-align: center;
    top: 208px;
    width: 105px; 
    position: absolute;
    right: 8px;
    background: #E73300; 
}
.m4_b ul li .name{
	height: 25px;
	line-height: 25px;
	margin-top: 5px; 
}
.m4_b ul li .name a{
	float: left;
}
.m4_b ul li .name span{
	float: right;
	color: #CE0B16;
	font: 12px arial;  
}
.m4_b ul li .name span b{
	font: 18px arial; 
	margin-left: 3px;
}
.m4_b ul li .num{
	height: 18px;
	line-height: 18px;
}
.m4_b ul li .num span:nth-child(1){
	float: left;
	color: #999999;
}
.m4_b ul li .num span:nth-child(2){
	float: left;
	color: #666666;
}
.m4_b ul li .num span:nth-child(3){
	float: right; 
	color: #999999; 
}

/*mian5*/
.main5{
	height: 655px;
	margin-bottom: 20px;
}
.m5_t{
	height: 50px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #e73300;
}
.m5_t h2{
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 260px;
	height: 50px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/floor_tit.gif) no-repeat 0 -166px;
} 
.m5_b{
	border: 1px solid #DDDDDD;
    border-top: 0;
    height: 602px;
}
.m5_b_l{
	float: left;
    width: 239px;
    height: 601px;
    border-right: 1px solid #E2E2E2;
}
.m5_b_l ul li{
	padding: 8px;
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
    position: relative;
    height: 69px;
}
.m5_b_l ul .change{
	height: 26px;
}
.m5_b_l ul .change .pic{
	display: none;
}
.m5_b_l ul .change .msg{
	padding-left: 22px;
    width: 190px;
}
.m5_b_l ul .change .msg p{
	display: none;
}
.m5_b_l ul .change .msg p:nth-child(1){
	display: block; 
}
.m5_b_l ul li .icon{
	position: absolute;
    left: 10px;
    top: 10px;
    width: 15px;
    height: 14px;
}
.m5_b_l ul li:nth-child(1) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat;
}
.m5_b_l ul li:nth-child(2) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -14px;
}
.m5_b_l ul li:nth-child(3) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -28px;
}
.m5_b_l ul li:nth-child(4) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -42px;
}
.m5_b_l ul li:nth-child(5) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -56px;
}
.m5_b_l ul li:nth-child(6) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -70px;
}
.m5_b_l ul li:nth-child(7) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -84px;
}
.m5_b_l ul li:nth-child(8) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -98px;
}
.m5_b_l ul li:nth-child(9) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -112px;
}
.m5_b_l ul li:nth-child(10) .icon{
    background: url(../img/cdn.taomeixie.com/lyecs_style/style/top_ico.gif) no-repeat 0 -126px;
}
.m5_b_l ul li .pic{
	float: left;
    width: 68px;
    padding-right: 10px;
    padding-left: 22px;
    display: inline-block;
}
.m5_b_l ul li .pic img{
	width: 68px;
	height: 68px;
	cursor: pointer;
}
.m5_b_l ul li .msg{
	float: left;
    width: 118px;
    line-height: 23px;
}
.m5_b_l ul li .msg p:nth-child(1){
	height: 22px;
    line-height: 23px;
    overflow: hidden;
    cursor: pointer;
} 
.m5_b_l ul li .msg p:nth-child(2){
}
.m5_b_l ul li .msg p:nth-child(3){
	color: #CE0B16;
    font-size: 12px;
    font-weight: normal; 
}
.m5_b_r{
	float: left;
	width: 958px;
}
.m5_b_r ul li{
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    float: left;
    height: 280px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 218px; 
    font-family: "微软雅黑";
}
.m5_b_r ul li:nth-child(4n){
	border-right: 0; 
}
.m5_b_r ul li.hover{
	background: #fff6f5;
	border: 2px solid #E73300;
	padding: 8px 9px 9px 8px;      
} 
.m5_b_r ul li img{
	width: 220px;
	height: 220px;
	margin-bottom: 10px;
	cursor: pointer;
}
.m5_b_r ul li .hidden span{
	background: #E73300;
    color: #FFFFFF;
    display: none;
    height: 22px;
    left: 10px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 208px;
    width: 105px;
}
.m5_b_r ul li .hidden span a{
	color: white;
	cursor: pointer;
}
.m5_b_r ul li .hidden .send{
	color: #FFFFFF;
    display: none;
    height: 22px;
    line-height: 22px;
    text-align: center;
    top: 208px;
    width: 105px; 
    position: absolute;
    right: 8px;
    background: #E73300; 
}
.m5_b_r ul li .name{
	height: 25px;
	line-height: 25px;
	margin-top: 5px; 
}
.m5_b_r ul li .name a{
	float: left;
}
.m5_b_r ul li .name span{
	float: right;
	color: #CE0B16;
	font: 12px arial;  
}
.m5_b_r ul li .name span b{
	font: 18px arial; 
	margin-left: 3px;
}
.m5_b_r ul li .num{
	height: 18px;
	line-height: 18px;
}
.m5_b_r ul li .num span:nth-child(1){
	float: left;
	color: #999999;
}
.m5_b_r ul li .num span:nth-child(2){
	float: left;
	color: #666666;
}
.m5_b_r ul li .num span:nth-child(3){
	float: right; 
	color: #999999;  
}

/*main6部分*/
.m6_l{
	width: 239px;
	float: left;
}
.m6_l_t{
	border: 1px solid #DDDDDD;
}
.m6_l_t .indent{
	height: 32px;
}
.m6_l_t .indent a{
	color: rgb(104, 103, 101);
    display: inline-block;
    font-family: 微软雅黑;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    position: relative;
    text-align: center;
    float: left;
    vertical-align: top;
    width: 118px;
    background: none 0px 0px repeat scroll rgb(246, 246, 246);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    text-decoration: none; 
}
.m6_l_t .indent .active5{
	background: #FFFFFF;
    border-bottom: 0;
    border-top: 2px solid #CD2F2E;
    color: #333333;
    font-weight: bold;
    height: 31px;
    margin-top: -1px;
    width: 118px; 
    border-left: 0;   
}
.m6_l_t .eg{
	overflow: hidden;
    position: relative;
    width: 235px;
    height: 191px; 
}
.m6_l_t .eg .eg1{
	position: absolute;
	left: 0;
	top: 0;
	width: 199px;
    height: 171px;
    overflow: hidden;
    margin-left: 15px;
   /* display: none;*/
}
.m6_l_t .eg .eg1 ul{
	position: absolute;
}
.m6_l_t .eg .eg1 ul li{
	height: 56px;
	border-bottom: 1px solid #ededed;
	line-height: 26px;
}
.m6_l_t .eg .eg1 ul li span:nth-child(1){
	color: #999; 
} 
.m6_l_t .eg .eg1 ul li span:nth-child(4){
	font-size: 14px;
	color: #EC0B16;
}
.m6_l_t .eg .eg2{
	position: absolute;
	left: 0;
	top: 0;
	width: 153px;
    height: 171px;
    overflow: hidden;
    margin-left: 15px; 
    display: none;
}
.m6_l_t .eg .eg2 ul{
	position: absolute;
}
.m6_l_t .eg .eg2 ul li{
	height: 56px;
	border-bottom: 1px solid #ededed;
	line-height: 26px;
}
.m6_l_t .eg .eg2 ul li span{
	color: #999;  
}
.m6_l_b{
	border: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 10px 10px 13px;
    margin-top: 10px;
    height: 50px;
}
.m6_l_b p{
	line-height: 18px;
	margin-bottom: 5px;
}
.m6_l_b input{
	float: left;
}
.m6_l_b input:nth-child(2){
	border: 1px solid #ccc;
	border-right: 0;
	height: 24px;
	border-width: 2px 1px 1px 2px;
	padding-left: 5px;
}
.m6_l_b input:nth-child(3){
	height: 29px;
	background: red;
	color: white;
	border-radius: 0 1px 1px 0/0 1px 1px 0;
	border: 0;
}
.m6_r{
	width: 950px;
	float: right;
}
.m6_r_t{
	height: 50px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #e73300;
}
.m6_r_t h2{
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 260px;
	height: 50px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/floor_tit.gif) no-repeat 0 -224px;
}
.m6_r_t ul{
	float: left;
}
.m6_r_t ul  a{
	text-align: center;
    line-height: 50px;
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 120px;
    height: 50px;
}
.m6_r_t ul a.active4{ 
	background: #f4f4f4;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb; 
}
.m6_r_b{
	border: 1px solid #DDDDDD;
    border-top: 0 none;
    padding: 15px;
    height: 226px;
    overflow: hidden;
    line-height: 24px;
    color: #666;
    position: relative;
}
.m6_r_b img{
	 position: absolute;
	 display: none;
}
.m6_r_b img:nth-child(1){
	 display: block; 
}

/*footer部分*/
#footer_wrap{
	width: 100%;
}
.foot{
	width: 1200px;
	margin: 0 auto;
}
.f_t{
	height: 165px;
	border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}
.f_t dl{
	width: 157px;
    float: left;
    padding: 10px 0 10px 25px;
    position: relative;
}
.f_t dl:nth-child(3){
	width: 420px;
	height: 120px;
	margin: 10px 0 10px 25px;
	position: relative;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_icos.gif) no-repeat;
}
.f_t dl img{
	position: absolute;
	right: 0;
	top: 0; 
}
.f_t dl dt{
	margin-bottom: 3px;
    padding: 6px 0 6px 30px;
    font-size: 14px;
    font-weight: bold; 
}
.f_t dl:nth-child(1) dt{
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_icos.gif) no-repeat -363px -142px;
}
.f_t dl:nth-child(2) dt{
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_icos.gif) no-repeat -363px -195px;
}
.f_t dl:nth-child(4) dt{
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_icos.gif) no-repeat -363px -306px;
}
.f_t dl:nth-child(5) dt{
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_icos.gif) no-repeat -363px -247px;
}
.f_t dl dd{
	padding: 3px 0 3px 30px;
    line-height: 20px;
}
.f_m{
	width: 100%;
	height: 70px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_service.jpg) no-repeat center top;
}
.f_b div:nth-child(1){
	color: #999999;
    margin-top: 10px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 8px 0;
}
.f_b div:nth-child(1) b{
	color: #999999;
	margin-bottom: 5px;
}
.f_b div:nth-child(1) a{
	margin-bottom: 5px;
	color: #999999;
    padding: 0 10px; 
}
.f_b div:nth-child(2){
	margin-top: 16px;
	height: 60px;
	background: url(../img/cdn.taomeixie.com/lyecs_style/style/foot_service.jpg) no-repeat center -70px;
}
.f_b p{
	text-align: center;
    padding: 5px 0;
    color: #333;
}
.f_b p span{
	color: #CC0000;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}
#bottom{
	position: relative;
	height: 108px;
}
#bottom img:nth-child(1){
	position: absolute;
	left: 495px;
	top: 30px;
}
#bottom img:nth-child(2){
	position: absolute;
	left: 635px;
	top: 30px;
}
#bottom img:nth-child(3){
	position: absolute;
	left: 555px;
	bottom: 0;  
}
#bottom img:nth-child(4){
	position: absolute;
	left: 610px;
	bottom: 0;  
}
/*aside*/
#aside{
	width: 35px;
	height: 100%;
	background: #9699A2;
	border-left: 1px solid #D9DBE9;
	position: fixed;
	right: 0;
	top: 0;
}
#aside ul{
	margin-top: 150px;
	border-bottom: 1px solid #BFC0C4;
    border-top: 1px solid #80848C;
}
#aside ul li a{
	display: block;
	width: 33px;
	height: 50px;
	border-bottom: 1px solid #80848C;
    border-top: 1px solid #BFC0C4;
}
#aside ul li:nth-child(1) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 3px -30px;
}
#aside ul li:nth-child(2) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 5px -177px;
}
#aside ul li:nth-child(3) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 3px -78px;
	position: relative;
}
#aside ul li:nth-child(4) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 3px -220px;
}
#aside ul li:nth-child(5) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 3px -274px;
}
#aside ul li:nth-child(6) a{
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/toolbar_bg.png) no-repeat 3px -328px;
}
#aside i{
	display: block;
	width: 17px;
	height: 17px;
	background:  #00B000;
    border: 1px solid #018E01;
    border-radius: 50%;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 17px;
    font-style: normal;
}
#toTop{
	position: fixed;
	right: 0;
	top: 80%;
	width: 35px;
	height: 74px;
	z-index: 1000;
	margin: 5px 0;
	background: #fff;
}
#toTop i{
	display: block;
	width: 30px;
	height: 25px;
	margin: 0 auto;
	background: url(../img/cdn.taomeixie.com/lyecs_style/images/common/spirit.png) no-repeat -89px -158px;
}
#toTop a{
	display: block;
	margin: 5px;
	font-size: 12px;
}
